body {
    background-image: url(../images/darkness/darkness.png);
}

#thumbsUppicture {
    width: 100%;
    max-width: 250px;
    height: 150px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.headingText {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.contentBox {
    border-color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: auto;
    background-color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

#nameplate {
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    min-width: 36px;
    font-size: auto;
}

h1 {
    color: #4aaaa5;
}

h3 {
    font-size: 1.25rem;
}

.mainContainer {
    background-color: #ffffff
}

.portfolioImages {
    height: 90%;
    width: 90%;
}

/** Figure out how to get the portfolio thumbnails side by side **/
.work:after {
    float: left;
    overflow: auto;
}

footer {
text-align: center;
height: 4rem;
padding: 1rem;
background-color: #666666;
color: #ffffff;
position: absolute;
width: 100%;
bottom: 0;
border-top: #4aaaa5 solid;
}

#msg {
    width: 400px;

}